{% include 'header.twig' %}
<h1>Deactivate 2 factor authentication</h1>
<form method="post">
    <label for="secret">Code</label>
    <input type="password" id="secret" name="secret"/>
    <button type="submit">Activate</button>
</form>
{% include 'footer.twig' %}