{% include 'header.twig' %}
<img src="data:image/svg+xml;base64,{{ source }}" alt="QR-Code"/>
<form method="post">
    <label for="secret">Code</label>
    <input type="password" id="secret" name="secret"/>
    <button type="submit">Activate</button>
</form>
{% include 'footer.twig' %}