{% include 'header.twig' %}
<h1>Clients</h1>
<ul>
    <li><a target="_blank" href="https://chrome.google.com/webstore/detail/idrinthwalled-secrets/jefepgcemjklaloajlklibdpofpcnkda">Chrome Add-On</a></li>
    <li><a target="_blank" href="https://addons.mozilla.org/en-US/firefox/addon/idrinth-walled-secrets/">Firefox Add-On</a></li>
    <li><a target="_blank" href="https://addons.mozilla.org/en-US/firefox/addon/idrinth-walled-secrets-android/">Firefox Android Add-On</a></li>
    <li><a target="_blank" href="https://github.com/Idrinth/walled-secrets/releases/latest">Java Client</a></li>
</ul>
{% include 'footer.twig' %}