        </div>
        <div id="footer">
            <span>&copy; Björn 'Idrinth' Büttner<span>
            <a href="https://github.com/idrinth/walled-secrets" target="_blank">Code</a>
            <a href="/imprint">Imprint</a>
            <a href="/privacy">Privacy Policy</a>
        </div>
    </body>
</html>