        </div>
        <div id="footer">
            <span>&copy; Björn 'Idrinth' Büttner</span>
            <a href="https://github.com/idrinth/walled-secrets" target="_blank">Code</a>
            <a href="/imprint">Imprint</a>
            <a href="/privacy">Privacy Policy</a>
            <a href="/eula">End User License Agreement(EULA)</a>
            <a href="/api/open-api.json">API DOC</a>
        </div>
    </body>
</html>