<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} | {{ website_name }}</title>
        <meta charset="utf-8"/>
        <base href="/"/>
        {% if not disableRefresh %}
            <meta http-equiv="refresh" content="{{ session_duration }}"/>
        {% endif %}
        <link href="styles.css" rel="stylesheet"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="manifest" href="/site.webmanifest">
        <meta name="author" content="Björn 'Idrinth' Büttner" />
        <meta name="description" content="A self-made password and secret vault. Completely open source." />
    </head>
    <body>
        <div id="header">
            <a href="/"><img src="/logo.png" alt="logo"/></a>
            <strong>{{ website_name }}</strong>
        </div>
        <div id="navigation">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/import">Imports</a></li>
                    <li><a href="https://tickets.idrinth.de" target="_blank">Support</a></li>
                </ul>
            </nav>
        </div>
        <div id="content">