{% include 'header.twig' %}
<h1>Import files</h1>
<form method="post" enctype="multipart/form-data">
    <label for="source">Source Format</label>
    <select name="source" id="source">
        <option value="0">Keepass(xml)</option>
        <option value="1">Bitwarden(json)</option>
        <option value="2">Firefox(csv)</option>
    </select>
    <label for="file">The exported file</label>
    <input type="file" name="file" id="file"/>
    <button type="submit">Import</button>
</form>
{% include 'footer.twig' %}