{% include 'header.twig' %}
<h1>{{ known.display }}</h1>
<form method="post">
    <label for="note">Your Note</label>
    <textarea name="note" id="note">{{ known.note }}</textarea>
    <button type="submit">Modify</button>
</form>
<h2>New Login</h2>
<form method="post">
    <label for="identifier">Public Identifier</label>
    <input type="text" name="identifier" id="identifier"/>
    <label for="user">Username</label>
    <input type="text" name="user" id="user"/>
    <label for="password">Password</label>
    <input type="password" name="password" id="password"/>
    <label for="note">Note for the password</label>
    <textarea name="note" id="note"></textarea>
    {% if twoFactor %}
        <label for="logincode">Auth-Code</label>
        <input type="text" required name="code" id="logincode"/>
    {% endif %}
    <button type="submit">Send</button>
</form>
<h2>New Note</h2>
<form method="post">
    <label for="public">Public Identifier</label>
    <input type="text" name="public" id="public"/>
    <label for="content">Content</label>
    <textarea name="content" id="content"></textarea>
    {% if twoFactor %}
        <label for="notecode">Auth-Code</label>
        <input type="text" required name="code" id="notecode"/>
    {% endif %}
    <button type="submit">Send</button>
</form>
{% include 'footer.twig' %}