{% include 'header.twig' %}
<h1>Mail send</h1>
<p>If you are a registered user, we have send a mail to your address.</p>
<p>Please use the login-link you find in there.</p>
<p>We do not send mails more often than every {{ minutes }}minutes.</p>
{% include 'footer.twig' %}