{% include 'header.twig' %}
<h1>Confirm login</h1>
<form method="post">
    <label for="email">Your eMail</label>
    <input type="email" name="email" id="email"/>
    <label for="password">Your Master Password</label>
    <input type="password" name="password" id="password"/>
    <button type="submit">Quick Login</button>
</form>
{% include 'footer.twig' %}