{% include 'header.twig' %}
<h1>{{ note.public }}</h1>
<form method="post">
    <label for="identifier">Public Identifier</label>
    <input type="text" name="identifier" value="{{ note.public }}" id="identifier"/>
    <label for="content">Content</label>
    <textarea name="content" id="content">{{ note.content }}</textarea>
    {% if twoFactor %}
        <label for="modifycode">Auth-Code</label>
        <input type="password" required name="code" id="modifycode"/>
    {% endif %}
    <button type="submit">Modify</button>
</form>
{% if knowns is not empty %}
<h2>Delete</h2>
<form method="post">
    {% if twoFactor %}
        <label for="deletecode">Auth-Code</label>
        <input type="password" required name="code" id="deletecode"/>
    {% endif %}
    <input type="hidden" name="delete" value="1">
    <button type="submit">Delete</button>
</form>
{% endif %}
<script src="copy.js"></script>
{% include 'footer.twig' %}